<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Libro</h3>
        </div>
        <div class="card-body">
            <form  [formGroup]="formu">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" required class="form-control" formControlName="nombre" [(ngModel)]="libro.nombre">
                </div>
                <div class="form-group">
                    <label for="">Descripcion</label>
                    <input type="text" class="form-control" formControlName="descripcion" [(ngModel)]="libro.descripcion" required>       
                </div>
                <div class="form-group"  >
                    <label for="">Autor</label>
                    <input type="text" class="form-control"  formControlName="autor" [(ngModel)]="libro.autor" required>
                </div> 
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de publicación</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="dp3" class="form-control" formControlName="fecha_publicacion" [(ngModel)]="libro.fecha_publicacion" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                      </mat-form-field>  
                </div>
                <div class="form-group">
                    <label for=""># de Ejemplares</label>
                    <input type="number" class="form-control" formControlName="numero_ejemplares" ng-pattern="[0-9]*" [(ngModel)]="libro.numero_ejemplares" required>
                </div>
                <div class="form-group">
                    <label for="">Costo</label>
                    <input type="number" class="form-control" formControlName="costo" [(ngModel)]="libro.costo" required>
                </div>
                <button type="submit" [disabled]="!formu.valid" (click)="Agr()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>
