html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
label{color: black  !important;}
.mat-datepicker-toggle-default-icon{
    color: black  !important
}

.mat-form-field-flex {
    border-bottom: 1px solid black;
}

